
.dashl{
    padding: 0%;
    display: block;
    margin-right: 50px;
    margin-left: 20px;
    font-size: 19px;
    width: 203px;
  }
  
  #button-office ,#button-job{
    border: none;
    text-align: left;
    background-color: white;
    padding: 0px;
    
  }

  .dashButtons{
    margin: 5px;
    list-style-type: none;
  }
  
  h6{
    margin: 0px;
  }
  
  .dashlElement{
    margin: 20px;
  }
  