.navTop{
    border-bottom: 1px solid rgba(0, 0, 0, 0.482);
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.navTop img:first-child {
  width: 155px;
  position: relative;
  top: 15px;
  right: 10px;
  left: 10px;
  margin-bottom: 10px;
}

.title p{
  margin: 0px;
  margin-top: 10px;
  margin-left: 21px;
  margin-bottom: 15px;
}
.title .empdir{
  color: #00b1fc;
  font-size: 30px;
  font-weight: 10;
}

.profileName{
  color: #00b1fc;
  margin-left: auto;
  text-align: center;
  margin-top: 30px;
  margin-right: 20px;
  font-size: 25px;
}

.profileName .name{
  color:black;
}
